.UsersContainer{
    padding: 20px;
}
.UsersContainer h2{
    margin: 10px 0px;
}
.UsersContainer p{
    margin: 20px 0px;
}
.userContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}